<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <h4 class="h4">
        March 2020, to a generation of medically advanced and tech-savvy humans, shook the world in a way unimaginable. A novel coronavirus, COVID-19, gave us no choice but to pause life the way we knew it and enter into a quarantine that forced us to do what most complain about not getting the chance to do enough: STAY HOME! Well, to the creator of The Liquor Cabinet, staying home and no bars led to a robust effort to stock and keep stocked his personal booze supply. Only thing is, keeping up with the inventory in his head made for a lot of guessing when at the Package Store. The Liquor Cabinet was developed as a practical way to keep up with that inventory as well as help your friends build theirs too with the sharing of wishlists. Besides, a healthy booze supply is what responsible adults do, right? RIGHT! Thanks for checking out The Liquor Cabinet! 

        -Mell, creator
    </h4>
</body>
</html>