<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body >
    <div class="container">
        
        <div class="text-center">
    <nav>
        <%- include('./partials/nav.ejs') %>
      </nav>
    <h1 class="display-2 bg-warning">The Liquor Cabinet</h1>
    
    <h4 class="h4 text-white">
        March 2020, to a generation of medically advanced and tech-savvy humans, shook the world in a way unimaginable. A novel coronavirus, COVID-19, gave us no choice but to pause life the way we knew it and enter into a quarantine that forced us to do what most complain about not getting the chance to do enough: STAY HOME! Well, to the creator of The Liquor Cabinet, staying home and no bars led to a robust effort to stock and keep stocked his personal booze supply. Only thing is, keeping up with the inventory in his head made for a lot of guessing when at the Package Store. The Liquor Cabinet was developed as a practical way to keep up with that inventory as well as help your friends build theirs too with the sharing of wishlists. Besides, a healthy booze supply is what responsible adults do, right? RIGHT! Thanks for checking out The Liquor Cabinet! 
    </h4>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#staticBackdrop">
        Click to Get Started
      </button>
      
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Welcome!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Welcome to The Liquor Cabinet, an easy-to-use way to keep track of your personal booze inventory. Coming soon is the ability to create a wishlist and share so that you and friends can take the guessing out of what you all really want as gifts! Click below and begin adding liberally and responsibly. Cheers!
        </div>
        <div class="modal-footer">
          
          <button type="button" class="btn btn-success"><a href="/cabinets/new">Build Your Cabinet</a></button>
        </div>
      </div>
    </div>
  </div>

        </div>
    </div>
</body>
</html>  