<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <nav>
        <%- include('./partials/nav.ejs') %>
      </nav>
    <h1>Add Item to Cabinet</h1>
        <form action="/cabinets" method="POST">
            Name: <input type="text" name="name" /><br/>
            Type: <input type="text" name="type" /><br/>
            Quantity <input type= "number" name="quantity" /><br/>
            Light or Dark <input type= "text" name="color" /><br/>
            In Stock: <input type="checkbox" name="inStock" /><br/>
            <input type="submit" name="" value="Add Item"/>
        </form>
</body>
</html>