<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cabinet</title>
</head>
<body>
    <h1>Add Item to Cabinet</h1>
        <form action="/cabinets" method="POST">
            Name: <input type="text" name="name" /><br/>
            Type: <input type="text" name="type" /><br/>
            Quantity <input type= "number" name="quantity" /><br/>
            In Stock: <input type="checkbox" name="inStock" /><br/>
            <input type="submit" name="" value="Add Item"/>
        </form>
</body>
</html>