<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Cabinet</title>
</head>
<body>
    <nav>
        <%- include('./partials/nav.ejs') %>
      </nav>
    <h1>Cabinet Show page</h1>
        The <%= cabinet.name %> is a type of <%=cabinet.type %>.
        <% if(cabinet.inStock === true){ %>
            We have that in the cabinet.
        <% } else { %>
            Sorry, not available at this time
        <% } %>
        <nav>
            <a href="/cabinets">Back to Liquor Cabinet</a>
        </nav>
</body>
</html>