<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <div class="container"> 
        <div class="text-center">
    <nav>
        <%- include('./partials/nav.ejs') %>
      </nav>
      
    <h1 class="display-3 bg-warning">Cabinet Show page</h1>
       <h3 class="h3 text-white"> <%= cabinet.name %> 
        <% if(cabinet.inStock === true){ %>
            is in the cabinet. <a href="#">Find</a> where you can get more of it. 
        <% } else { %>
            unfortunately,is not available at this time. Check where you can find it.
            <a href="#">here</a>.
        <% } %> 
    </h3>
        <nav>
            <button type="submit" class="btn btn-primary text-white"><a href="/cabinets" class="text-warning">Back to Liquor Cabinet</a></button>
        </nav>
    </div>
</div> 
</body>
</html>